<div>
  <h1>Hello, {{username}}</h1>
  <p>Click the following button to complete you account verification</p>
  <a href='http://localhost:3000/api/auth/verify/{{verificationToken}}'>Verify Account</a>
</div>