<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Verification Failed</title>
  </head>
  <body>
    <h1>We are sorry!</h1>
    <h3>We can't verify your account</h3>
    <p>Try to request a new email to complete your verification or try later.</p>
  </body>
</html>